<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Smart Learn App</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <link href="img/favicon.ico" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">
  <link href="lib/bootstrap.min.css" rel="stylesheet">
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>

<body>

  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1>
          <a href="#hero">Smart Learn</a>
        </h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active">
            <a href="#hero">Home</a>
          </li>
          <li>
            <a href="#about">About</a>
          </li>
          <li>
            <a href="#signIn">Sing in</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <section id="hero">
    <div class="hero-container">
      <h1>Welcome to Smart Learn</h1>
      <h2>App for spaced repetition to learn everything.</h2>
      <a href="#about" class="btn-get-started">Get Started</a>
    </div>
  </section>

  <main id="main">

    <section id="about">
      <div class="container">
        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <h2 class="title">Few Words About App</h2>
            <p>
              Spaced repetition is a learning technique that incorporates increasing intervals of time between subsequent review of previously
              learned material in order to exploit the psychological spacing effect. In 1939, Spitzer tested over 3600 students
              in Iowa and showed that spaced repetition was effective. This early work went unnoticed, and the field was
              relatively quiet until the late 1960s. In 1973 Sebastian Leitner devised his "Leitner system", an all-purpose
              spaced repetition learning system based on flashcards.
            </p>

            <div class="icon-box wow fadeInUp">
              <div class="icon">
                <i class="fa fa-shopping-bag"></i>
              </div>
              <h4 class="title">
                <a href="">Fact</a>
              </h4>
              <p class="description">over 90% of the information disappears within a few days</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon">
                <i class="fa fa-photo"></i>
              </div>
              <h4 class="title">
                <a href="">How it works</a>
              </h4>
              <p class="description">Each day, check the Smart Learn App: it will present you with a list of flashcards, which have been scheduled
                for repetition on that day.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon">
                <i class="fa fa-bar-chart"></i>
              </div>
              <h4 class="title">
                <a href="">What is more</a>
              </h4>
              <p class="description">For each flashcard Smart Learn App will show you the answer and you rate your performance on this flashcard.
              </p>
            </div>

          </div>
          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight">
            <img class="brain-img img-fluid" src="img/brain.png" /> </div>
        </div>
      </div>
    </section>

    <section id="call-to-action">
      <div class="container wow fadeIn">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Keep moving forward. One step at a time.</h3>
            <p class="cta-text">The advantage of spaced repetition software is that it automatically manages and schedules revisions in your
              learning process. </p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">Get Started</a>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>

</html>